In [ ]:
 # 2.Write a Python function to find the maximum of three numbers Sample input:34,12,7 Sample output: 34

x=int(input("enter first number"))
y=int(input("enter the second number"))
z=int(input("enter the third number"))

if x>y and x>z:
  print(x,'is the maximum')
elif y>x and y>z:
    print(y,'is maximum')
else:
      print(z,"is maximum")

enter first number3
enter the second number4
enter the third number6
6 is maximum

In [ ]:
# 3.Write a Python function called exponent(base,exp) that returns an integer value of base raises to the power of exp. Sample input: Enter the base: 2Enter the exponent: 3 Sample output: 8

def exponent(base,exp):
 x=base**exp
 return x

In [ ]:
a=(int(input("enter the base")))
b=(int(input("enter the exponent")))
print(exponent(a,b))

enter the base3
enter the exponent3
27

In [ ]:
# 9.Write a Python function to convert temperatures to and from Celsius Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit =41Sample output: Temperature in Celsius =5

def ctof(cel_far):
  return (cel_far/5)
def ftoc(far_cel):
  return (far_cel-(32/9))

In [ ]:
f=float(input("enter the fahreheit temperature"))
c=float(input("enter the celsius temperature"))
cecius_fahren=print(ctof(c))
fahren_celsius=print(ftoc(f))

enter the fahreheit temperature30
enter the celsius temperature40
8.0
26.444444444444443

In [ ]:
#5.Write a Python program which iterates from 1 to 10. For multiples of 2, print
#“Fizz” instead of the number and for the multiples of 5, print “Buzz”. For
#numbers which are multiples of both 2 and 5, print “FizzBuzz”. Sample input:
#numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9
#FizzBuzz
for num in range(1,11):

  if num%2==0:
    print("fizz")
  elif num%5==0:
    print("buzz")
  elif num%2==0 and num%5==0:
      print("fizzbuzz")
  else:
    print(num)

1
fizz
3
fizz
buzz
fizz
7
fizz
9
fizz

In [ ]:
# 7. Write a Python function to find the sum of squares of the numbers in a list.Sample input: 2,1,3,1 Sample output: 15
def sos(list1):
    sum = 0
    for num in list1:
        sum += num * num
    print(sum)

In [ ]:
li=[1,2,3,4]
print(sos(li))

30
None

In [ ]:
# 8. Write a Python program using for loop that will iterate from 1 to 15. For each
#iteration, check if the current number is odd or even, and display the message
#to the screen as odd or even. Sample input: 1….15 Sample output: 1-odd 2-
#even …. 15-odd

for num in range(1,16):
  if(num%2==0):
    print("even")
  else:
      print("odd")
  print(num)

odd
1
even
2
odd
3
even
4
odd
5
even
6
odd
7
even
8
odd
9
even
10
odd
11
even
12
odd
13
even
14
odd
15

In [10]:
# 4. Write a Python function that takes a positive integer and returns the sum of
#the cube of all the positive integers smaller than the specified number.
#Sample input: 4 Sample output: 36.
def sos(limit):
    sum = 0
    for i in range(1, limit + 1):
        sum += i * i*i

    return sum


limit=12
print(sos(limit))

6084

In [11]:
#10.factorial of number
def factorial(n):
    if n < 0:
        return 0
    elif n == 0 or n == 1:
        return 1
    else:
        fact = 1
        while(n > 1):
            fact *= n
            n -= 1
        return fact

In [12]:

num = int(input("enter a number"))
print("Factorial of",num,"is",
factorial(num))

enter a number5
Factorial of 5 is 120

In [ ]:
#12
def student(stdrec):
    id =input("Enter the id: ")
    name=input("Enter student name: ")
    grade=int(input("Enter grade level FROM 1-12: "))
    gpa=float(input("Enter GPA: "))